.detail-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    height: auto;
    padding: 20px;
    background-color: #E0F4FF;
  }
.title {
    font-size: 24px;
    margin-bottom: 10px;
  }
.line {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }
.eachimage {
    max-width: 30%;
    height: auto;
  }
.extra-details {
    margin: 40px;
  }
.extra-details button{
    width: 100px;
    height: 50px;
    color: black;
    background: white;
    position: relative;
    right: 50px;
    left: 500px;
    cursor: pointer;
  }
.brand {
    display: flex;
    justify-content: space-between;
  }
.booking-form {
    width: 600px;
    height: 600px;
    display: flex;
    position: relative;
    right: 50%;
    left: 25%;
    background-image: url(../../assets/images/OYO.avif);
    justify-content: center;
    align-items: center;
  }
.booking-form  form {
    display: grid;
    gap: 10px;
    width: 50%;
  }
  
.booking-form  label {
    font-weight: bold;
    color: white;
  }
 .booking-form input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
  }
.booking-form button {
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
    width: 70%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
.booking-form button:hover {
    background-color: #0056b3;
  }
.extra-details .facilities{
    margin-top: 40px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.image-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    background-color: #fff;
  }