.HotelList, .eachHotelCard, .hotelCardRight, .bottomRight{
    display: flex;
}
.HotelList{
    width: 100%;
    height: 50rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1rem;
}
.eachHotelCard{
    width: 45%;
    height: 15rem;
    gap: 1rem;
}
.hotelCardLeft{
    width: 30%;
    height: 100%;
}
.hotelCardImg{
    width: 100%;
    height: 100%;
}
.hotelCardRight{
    width: 70%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
}
.topRight p span{
    border: 1px solid green;
    background-color: rgb(102, 159, 102);
    border-radius: 5px;
    padding: 0 10px;
}
.bottomRight{
    justify-content: space-around;
}